.htaccess.txt
config.php
index.php
php.ini
123.rar
/admin
/catalog
/upload
/system
/download
/image
!/admin/controller/payment/sprypay.php
!/admin/language/english/payment/sprypay.php
!/admin/language/russian/payment/sprypay.php
!/admin/views/template/payment/sprypay.tpl
!/system/library/sprypaylib
!/catalog/controller/payment/sprypay.php
!/catalog/language/english/payment/sprypay.php
!/catalog/language/russian/payment/sprypay.php
!/catalog/views/theme/default/payment/sprypay.php
